<!DOCTYPE html>
<html>
  <head>
    <title>Plannr</title>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuV76jmQ-5WdwwkVzOP3_WHkk5LPGjdm4&sensor=false"></script>
   	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="javascripts/user_forms.js"> </script>
    <script src="javascripts/trip.js"> </script>
    <script src="javascripts/trip_forms.js"> </script>
    <script src="javascripts/desktop.js"></script>
    <link rel="stylesheet" href="stylesheets/mapStyle.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
  </head>
  
  <body>
  	
  	<div id='desktop_login'>
  		<input id='desktop_user' placeholder='username' />
  		<input id='desktop_pass' placeholder='password' />
  		<button id='desktop_login_submit'>Sign In</button>
  	</div>
  	
  	<div id='loadedTrips'>
  		
  	</div>
  	
  	<div id='mapLocation' style="width:100%; height:100%;">
  		
  	</div>
  	
  	<div id='directionsList'>
  		
  	</div>
  	
  </bod>
</html>